/*******************公共部分*************************/
/*******************公共部分*************************/
/******************page1****************************/

/******************page1****************************/
/******************page2****************************/
/******************page2****************************/
/******************page3****************************/
/******************page3****************************/
/******************page4****************************/
/******************page4****************************/
/******************page5****************************/
/******************page5****************************/
/******************page6****************************/
@keyframes page6moveCarbox {
    from{
        left: 80px;
    }
    to{
        left: -280px;
    }
}
@keyframes page6moveCar {
    from{
        left: 0;
    }
    to{
        left:-500%;
    }
}
@keyframes page6MoveImg {
    from{
        left:200%;
    }
    to{
        left:-200%;
    }
}
/*兼容*/
@-webkit-keyframes page6moveCarbox {
    from{
        left: 80px;
    }
    to{
        left: -280px;
    }
}
@-webkit-keyframes page6moveCar {
    from{
        left: 0;
    }
    to{
        left:-500%;
    }
}
@-webkit-keyframes page6MoveImg {
    from{
        left:200%;
    }
    to{
        left:-200%;
    }
}
/******************page6****************************/
/*****************page7************************/
@keyframes page7Carmove {
    from{
        left:100%;
        top:55%;
    }
    to{
        left:15%;
        top:34%;
    }
}
@-webkit-keyframes page7Carmove {
    from{
        left:100%;
        top:55%;
    }
    to{
        left:15%;
        top:34%;
    }
}
@keyframes page7moveimg {
    0%{
        left:-300%;
    }
    100%{
        left:300%;
    }

}
@-webkit-keyframes page7moveimg {
    0%{
        left:-300%;
    }
    100%{
        left:300%;
    }

}
/*****************page7************************/
/*****************page8************************/
/*****************page8************************/

